= form_for @skill do |f|
  - if @skill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@skill.errors.count, "error")} prohibited this skill from being saved:"
      %ul
        - @skill.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_area :title, class: 'form-control', placeholder: 'Awesome Cook'
  .form-group
    = f.label :rating
    = f.number_field :rating, class: 'form-control', placeholder: '100'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
