%nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
  .navbar-header
    %button.navbar-toggle{ data: { toggle: "collapse", target: ".navbar-collapse" } }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'katiesvt', '/', class: 'navbar-brand'
  
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to 'Background', static_pages_background_path
      %li= link_to 'Skills', skills_path
      %li= link_to 'Code', code_samples_path
      %li= link_to 'Contact', static_pages_contact_path
      %li= link_to 'About this site', static_pages_site_path