= form_for @code_sample, html: { class: 'form-horizontal' } do |f|
  - if @code_sample.errors.any?
    #error_explanation
      %h2= "#{pluralize(@code_sample.errors.count, "error")} prohibited this code_sample from being saved:"
      %ul
        - @code_sample.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-sm-3 col-md-2 control-label'
    .col-sm-9.col-md-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :tagline, class: 'col-sm-3 col-md-2 control-label'
    .col-sm-9.col-md-10
      = f.text_field :tagline, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-3 col-md-2 control-label'
    .col-sm-9.col-md-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :link, class: 'col-sm-3 col-md-2 control-label'
    .col-sm-9.col-md-10
      = f.text_field :link, class: 'form-control'
  
  .form-group
    = f.label :code_language, class: 'col-sm-3 col-md-2 control-label'
    .col-sm-3.col-md-2
      = f.collection_select :code_language_id, CodeLanguage.all, :id, :name, { include_blank: 'Select one...'}, class: 'form-control'
  
  .form-group
    = f.label :code, class: 'col-sm-3 col-md-2 control-label'
    .col-sm-9.col-md-10
      = f.text_area :code, class: 'form-control monospace', rows: '10'
      
  .form-group
    = f.label :skills, class: 'col-sm-3 col-md-2 control-label'
    .col-sm-9.col-md-10
      = f.collection_select :skill_ids, Skill.all, :id, :title, {}, {multiple: true, class: 'form-control'}
  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
