.container
  .row
    .col-md-12
      - if notice != nil
        %p.alert.alert-info#notice= notice

      .page-header
        %h1= @code_sample.title
      
      %p.lead= @code_sample.tagline
      
      %p= simple_format @code_sample.description
      
      %p
        %b Link:
        = @code_sample.link
      %p
        %b= pluralize(@code_sample.skills.count, 'Skill') + ':'
        - @code_sample.skills.each do |skill|
          = skill.title + ','
      
      %pre.scrollable.prettyprint{ class: "lang-#{@code_sample.code_language.name}" }= @code_sample.code
      
      %hr

      = link_to 'Edit', edit_code_sample_path(@code_sample)
      \|
      = link_to 'Back', code_samples_path
